/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.poll{
    margin-top: -1.2em;
}
.poll-submit-button {
    all:unset;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    background: #2271b1;
    border-color: #2271b1;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    
}
.poll-submit-button:hover {
    background: #135e96;
    border-color: #135e96;
    color: #fff;
}